body {
    font-family: 'DM Serif Display', serif;
    color: #EEEEEE;
    margin: 0;
}
.parallax {
    background-image: url("EA_AW22_Tapestry.png");
      /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("FC_AW22_Tapestry_BW.png");
      /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("MM_AW22_Tapestry.png");
      /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 0 15% 0;
}

.buffer {
    height: 2rem;
}

.title-line {
    text-align: center;
    padding: 10rem 15% 5% 15%;
}


#title {
    background-color: #141E61;
    padding: 6% 0 3% 0;
    margin-top: 3%;
}

/* navigation bar */

.navbar {
    /* padding: 0 0 1rem; */

}

#navigation {
    background-color: #0F044C;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 2;

}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'DM Serif Display', serif;
    font-weight: lighter;
}

/* download buttons */

.download-button {
    font-family: 'DM Serif Display', serif;
    margin: 3% 3% 3% 0;
}

/* title image */

.title-image {
    width: 65%;
    /* position: absolute; */
    /* right: 15%; */
    /* background-color: #0F044C; */
    padding-bottom: 7%;
    
}

.image-pos {
    /* position: relative; */
    text-align: center;
}

.address {
    text-align: center;
   
    padding: 3%;
}

/* .rotate {
    transform: rotate(25deg);
    padding: 5%;
} */

/* features */

#features {
    text-align: center;
    padding: 7% 15%;
    
    /* position: relative; */
    
}

.product-feature {
    text-align: center;
    padding: 3%;
}

.feature-icon {
    /* size: 5rem; */
    margin-bottom: 3rem;
    color: #0F044C;
    font-size: 4rem;
}

.feature-icon:hover {
    color: #EEEEEE;
}

.feature-title {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-description {
    color: #EEEEEE;
}

/* About Section */

#testimonials {
    
    background-color: #141E61;
    padding: 10% 15%;
    height: 10%;
    /* color: #fff; */
}

.squareandcompasses {
    width: 40%;
    
}

.sandc {
    text-align: center;
}

/* .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
} */



#press {
    text-align: center;
    padding: 7% 15%;
}


/* 
.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
} */

/* Registration */


.attendee-registration {
    text-align: center;
    line-height: 1rem;
    background-color: #0F044C;
}

.price-col {
    padding: 3% 10%;
    text-align: left;
}

.price-col2 { 
    padding: 3% 10%;
    text-align: center;
}

.reg-card-pos {
    width: 50%;

}

.reg-card {
    color: #0F044C;
    line-height: 1rem;
}
/* pricing */

.reg-card {
    color: #0F044C;
}

.pricing-row {
    padding: 10%;
    
}

#pricing {
    text-align: center;
    padding: 7% 15%;
}

#online {
    color: #0F044C;
}

@media (max-width: 990px) {
    #title {
        text-align: center;
    }
    .title-image {
        width: 60%;
        transform: rotate(0);
        padding: 5%;   
        position: static;
    }

    .reg-card-pos {
        margin: 0 5% 0 20%;
    }

    .reg-card {
        margin: 0 0 0 20%;
    }
    .squareandcompasses {
        width: 10%;
    }
}

/* call to action */

#cta {
    background-color: #787A91;
    text-align: center;
    padding: 3% 0;
}

.cta-phrase {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    /* color: #fff; */
    padding: 0 15%;
}

/* footer */


#footer {
    text-align: center;
    padding: 3%;
    color: #0F044C;
}

.footer-icon {
    padding: 5px;
    margin: 2% 0;
}

